In [1]:
# import dependencies
import pandas as pd

In [2]:
cities_data = "../Resources/cities.csv"
source_df = pd.read_csv(cities_data)
source_df

,City,City ID,Country,Lat,Long,Temp,Max Temp,Humidity,Wind Speed,Cloud Cover
0,Ushuaia,8303,AR,-54.80,-68.30,42.80,42.80,87,19.46,40
1,Talnakh,8951,RU,69.49,88.40,24.80,24.80,92,4.47,75
2,Nikolskoye,8926,RU,59.70,30.79,46.20,48.00,81,11.18,90
3,Rome,5681,US,43.21,-75.46,55.96,61.00,81,14.99,90
4,Pimenta Bueno,2011314,BR,-33.59,26.89,66.99,66.99,68,4.00,16
...,...,...,...,...,...,...,...,...,...,...
285,Mahébourg,5344,MU,39.95,-75.16,57.06,59.00,87,14.99,90
286,Khovd,2061,MN,-20.52,57.52,80.82,82.40,69,17.22,75
287,Cidreira,2004009,BR,37.96,-8.87,60.01,60.01,83,5.01,53
288,Avera,2061,US,-20.01,57.66,80.24,82.40,69,17.22,75
289,Yar-Sale,9129,RU,25.48,84.42,98.60,98.60,22,4.70,0

In [3]:
html = source_df.to_html()

In [4]:
text_file = open("../Resources/Source_data.html", "w",encoding='utf-8')
text_file.write(html)
text_file.close()